{
  "protocol": "http",
  "hostname": "localhost",
  "port": 3100,
  "db": "mongodb://localhost/stellar",
  "jwt": "$ampl3$alt",
  "github": {
    "app_id": "",
    "app_secret": "",
    "callback": "/api/auth/github/callback"
  }
}