{
  "github": {
    "app_id": "YOURGITHUPAPPID",
    "app_secret": "YOURGITHUPAPPSECRET"
  },
  "hostname": "localhost",
  "port": 3100,
  "protocol": "http",
  "db": "mongodb://127.0.0.1:27017/constella",
  "jwt": "YOURTOKENSECRET"
}